@charset "utf-8";

/*Animation Setting*/
@keyframes menu1 {

0% {opacity: 0;}
100% {opacity: 1;}

}

/*Top Menu block
---------------------------------------------------------------------------*/
/*Each menu button setting*/
#menubar-top li a {
	text-decoration: none;
	display: block;
	border: 5px solid #fff;
	border-radius: 50%;	
	width: 120px;
	line-height: 120px;
	text-align: center;
	color: #fff;
}
/*Mouse on hover*/
#menubar-top li a:hover {
	color: #fff;	
	box-shadow: 0px 0px 100px #fff;	
}
/*Three menu button setting (animation)*/
#menubar-top li#menu1,#menubar-top li#menu2,#menubar-top li#menu3,#menubar-top li#menu4,#menubar-top li#menu5 {
	animation-name: menu1;		/*name of the keyfames(logo）which defined at the top*/
	animation-duration: 3S;		/*how long the animation lasts*/
	animation-fill-mode: both;	/*after the animation ended, keep the keyframes on*/
}
/*The first menu button（HOME）*/
#menubar-top li#menu1 {
	position: absolute;
	right: 15%;	/*location 33% to the left*/
	top: 18%;	/*location 18% to the top*/
}
/*The second menu button（PROFILE）*/
#menubar-top li#menu2 {
	position: absolute;
	right: 15%;
	top: 40%;	
	animation-delay: 0.3s;	/*start the animation 0.3 seconds later*/
}
/*The third menu button（PORTFOLIO）*/
#menubar-top li#menu3 {
	position: absolute;
	right: 15%;
	top: 62%;
	animation-delay: 0.6s;
}
